site_name: EAS Documentation
site_url: https://easx-community.github.io/easx-docs/

use_directory_urls: true
use_relative_links: true

theme:
  name: material
  language: en

  logo: ./assets/EASX_Logo_Light.svg
  favicon: ./assets/EASX_Logo_Light.svg

  font:
    text: Inter
    code: Fira Code

  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
    - content.code.copy

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/easx-community

nav:
  - Overview: Overview.md
  - Getting Started: Getting-Started.md
  - How To Connect: How-To-Connect.md
  - Subscriptions Participants: Subscriptions--Participants.md
  - APIs: APIs.md
  - EAS Client:
      - Introduction: EAS-Client/Introduction.md
      - Settings: EAS-Client/Settings.md
      - Commands: EAS-Client/Commands.md
      - Deploy To Azure: EAS-Client/Deploy-To-Azure.md
      - System Requirements: EAS-Client/System-Requirements.md
      - Changelog: EAS-Client/Changelog.md
