name: Deploy Dev Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        run: pip install mkdocs-material pyyaml

      - name: Generate nav
        run: python scripts/generate_nav.py dev

      - name: Build site
        run: mkdocs build --site-dir site/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_PAGES_PAT }}
          publish_dir: ./site
          force_orphan: true
